<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New login to your account</title>
</head>
<body>
<h2>New Login Detected</h2>
<p>Hi {{username}},</p>
<p>We noticed a new login to your account.</p>
<ul>
    <li><b>Email:</b> {{email}}</li>
    <li><b>IP Address:</b> {{ip}}</li>
    <li><b>Device:</b> {{userAgent}}</li>
</ul>
<p>If this was you, you can ignore this email.</p>
<p>If you don’t recognize this login, please change your password immediately.</p>
</body>
</html>
