server:
  port: 8888

spring:
  application:
    name: config-server

  security:
    user:
      name: ${CONFIG_USER:config}
      password: ${CONFIG_PASS:configpass}

  cloud:
    config:
      server:
        # Use Git backend (HTTPS + PAT)
        git:
          uri: ${CONFIG_GIT_URI:https://github.com/Priyanka-Engineer-sketch/ecom-config.git}
          username: ${CONFIG_GIT_USERNAME:}        # can be blank for PAT-only auth
          password: ${CONFIG_GIT_PASSWORD:}        # GitHub PAT
          default-label: ${CONFIG_GIT_BRANCH:main} # IMPORTANT: use 'main', not 'master'
          search-paths: ${CONFIG_GIT_PATHS:}
          clone-on-start: true
          skip-ssl-validation: ${CONFIG_GIT_SKIP_SSL:false}
          timeout: ${CONFIG_GIT_TIMEOUT:20}
          force-pull: ${CONFIG_GIT_FORCE_PULL:true}
          delete-untracked-branches: true

encrypt:
  key: ${CONFIG_ENCRYPT_KEY:}   # supply via secret; do NOT commit plaintext

logging:
  level:
    root: INFO
    org.springframework.cloud.config.server: INFO
    org.eclipse.jgit: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true

eureka:
  client:
    register-with-eureka: ${EUREKA_REGISTER:false}
    fetch-registry: ${EUREKA_FETCH:false}
    serviceUrl:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true

