spring:
  application:
    name: order-service

  profiles:
    active: dev

  config:
    import: "optional:configserver:"

  cloud:
    config:
      uri: http://localhost:8888
      username: ${CONFIG_USER:config}
      password: ${CONFIG_PASS:configpass}
      fail-fast: false